# editors
.idea

# build
.build
dist

# dependencies
**/node_modules/**
/lib
/coverage

# Serverless directories
.serverless

# misc
.DS_Store
.env*
!.env-sample

npm-debug.log*
yarn-debug.log*
yarn-error.log*
